*{
    margin:0;
    padding:0;
}
.main{
 height: 100vh;
 width: 100%;
 /* background: grey; */
}
body{
    background: linear-gradient(to right,red,black);
}
#heading{
    text-align: center;
    margin-top: 20px;
    color:rgb(71, 65, 65);
    /* margin-top: 30vh; */
}

#b1{
    margin: auto;
    display:block;
    margin-top: 42vh;
}
#b2{
    margin: auto;
    display:block;
    margin-top: 10px;
}

